<!DOCTYPE html>
<html>

<head>
    <title>Barber Shop Website</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
    <header>
        <h1><a href="/">Starboy</a></h1>
        <nav>
            <ul>
                <!-- <li><a href="#">Home</a></li> -->
                <li><a href="#bout">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/logout">log out</a></li>
            </ul>
        </nav>
    </header>

    <section id="banner">
        <p>Welcome <%= user.userName %></p>
        <h2>Take Your Looks to the next Level</h2>
        <p>Experience the best haircuts in town</p>
        <a href="#" class="btn">Book an Appointment</a>
    </section>

    <section id="services">
        <h2>Our Services</h2>
        <ul>
            <li>Haircuts</li>
            <li>Beard Trimming</li>
            <li>Shaving</li>
            <li>Facial Massage</li>
        </ul>
    </section>

    <section id="about">
        <h2>About Us</h2>
        <p>We are a team of experienced barbers dedicated to providing top-notch grooming services. Our mission is to
            make you look and feel your best.</p>
    </section>

    <footer>
        <p>&copy; 2023 Barber Shop. All rights reserved.</p>
    </footer>

    <script src="script.js"></script>
</body>

</html>